<section>
  <h1>Links</h1>
  <ul>
    <li><a href="http://hackaday.com/">Hack A Day</a></li>
    <li><a href="http://dangerousprototypes.com/">Dangerous Prototypes</a></li>
    <li><a href="http://www.etotheipiplusone.net/">EQUALS ZERO</a></li>
    <li><a href="http://www.bunniestudios.com/">bunnie:studios</a></li>
    <li><a href="http://www.hoektronics.com/">Hoektronics</a></li>
    <li><a href="http://ch00ftech.com/">ch00ftech</a></li>
    <li><a href="http://makezine.com/blog/">Makezine</a></li>
	<li><a href="https://www.sparkfun.com/">Sparkfun</a></li>
    <li><a href="http://www.adafruit.com/">Adafruit Industries</a></li>
    <li><a href="http://www.coolcomponents.co.uk/">Cool Components</a></li>
    <li><a href="http://www.skpang.co.uk/catalog/index.php">SK Pang</a></li>
    <li><a href="https://www.hobbytronics.co.uk/">Hobbytronics</a></li>
    <li><a href="http://proto-pic.co.uk/">Proto-PIC</a></li>
    </ul>
</section>